#top{
    text-align: center;
    color: #0000ff;
}
* {
    box-sizing: border-box;
  }
.box {
    float: left;
    width: 33.33%; 
    padding: 50px; 
  }
  .pichome{
      height: 800px;
      width: 400px;
  }
  body{
      background-color: #ff0000;
  }