#heli{
    display: inline;
    
}

#jeffismad {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  #weaponbio{
      float: left;
  }
  section{
      float: left;
      padding: 16px;
      width: 50%;
  }
  #snake{

    width: 400px;
    height:400px;
    border-style: dashed;
    border-width: 0px 0px 0px 4px;
    
    }
